@import "tailwindcss";
@import "flowbite";

@font-face {
  font-family: "Aileron";
  src: url("/fonts/Aileron/Aileron-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Aileron";
  src: url("/fonts/Aileron/Aileron-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Aileron";
  src: url("/fonts/Aileron/Aileron-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

body {
  font-family: "Aileron", sans-serif;
  background: #DBE8F4;
}
